body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 8px;
    width: 200px;
}

.cart {
    font-size: 18px;
}

.filters {
    text-align: center;
    margin: 20px;
}

.filters button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background: white;
    width: 250px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product button {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.customer-container {
    max-width: 600px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.customer-container input,
.customer-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.customer-container button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}